* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.top-left {
    position: relative;
    display: inline;
    color: red;
}

.bottom-left {
    position: absolute;
    top: 1429.34px;
    color: blue;
}

.top-right {
    position: absolute;
    top: 1429.34px;
    left: 984.5px;
    color: magenta;
}

.bottom-right {
    display: inline;
    position: absolute;
    left: 984.5px;
}

.center {
    display: block;
    width: 30%;
    margin: auto;
    position: absolute;
    top: 714.67px;
    left: 492.25px;
}