* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container h1 {
    text-align: center;
}

.card {
    width: 37%;
    display: flex;
}