* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    position: absolute;
    /* display: flex; */
}

.card-box {
    /* justify-content: center;
    align-items: center; */
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    /* justify-content: center;
    align-items: center; */
}

img {
    max-width: 100%;
}