* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkGreen: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --gray: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --head: 2rem;
    --text: 1rem;
}

.container {
    min-height: 100vh;
    overflow-y: auto;
    background-color: var(--cream);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 10px;
    max-width: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-box {
    max-width: 300px;
    border-radius: 10px;
    background-color: var(--white);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn {
    width: 500px;
}