* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #wrapper {
    /* background-color: ; */


/* display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
overflow-x: hidden;
overflow-y: hidden;

}
*/

*/