* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    margin: 20px 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 37%;
}


/* .card {
    width: 32%;
    height: 30%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
} */