@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
    background-color: aqua;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /* background-color: white; */
    /* gap: 200px; */
    margin-left: 50px;
    margin-top: 50px;
    /* border: 3px solid black; */
}

.box {
    background-color: blanchedalmond;
    border: 2px solid black;
    height: 300px;
    width: 700px;
    margin: 10px;
    box-shadow: 5px 5px 20px grey;
    padding: 10px;
    text-align: center;
}

.box:hover {
    transform: scale(1.03);
    transition: 1.5s;
}

.title {
    /* text-align: center; */
    font-family: "Fraunces", serif;
}

.topic .description .link {
    font-family: "Montserrat", sans-serif;
    font-size: 100em;
    font-weight: bold;
    /* text-decoration: blanchedalmond; */
}

.navbar {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: baseline;
}

.topic01 {
    color: blue;
}

.topic02 {
    color: green;
}

.underline {
    text-decoration: underline;
}


/* .nav_img { */


/* margin-left: 100%; */


/* margin-right: 0%; */


/* } */

.nav_txt {
    justify-self: start;
}

.nav_title {
    justify-self: center;
    align-self: center;
}

.nav_img {
    justify-self: end;
}

.items {
    height: 200px;
    width: 300px;
}